<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>191560403808-ojm96f3abva3fhe8n8uleqnrjivd6ch0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191560403808-ojm96f3abva3fhe8n8uleqnrjivd6ch0</string>
	<key>API_KEY</key>
	<string>AIzaSyCsoSAU2oS1dpnRZpUTyvQO3lqOBUfcXVA</string>
	<key>GCM_SENDER_ID</key>
	<string>191560403808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.make.school.projects.MoneyPool</string>
	<key>PROJECT_ID</key>
	<string>moneypool-2e0ab</string>
	<key>STORAGE_BUCKET</key>
	<string>moneypool-2e0ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:191560403808:ios:de5c134960d349cb</string>
	<key>DATABASE_URL</key>
	<string>https://moneypool-2e0ab.firebaseio.com</string>
</dict>
</plist>